body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map-image {
    display: none;
}

.room{
    border: outset;
    text-align: center;
}

.Player-Frame-Class{
    height: 18%;
    width: 90%;
    background-color: red;
    margin-bottom: 5%;
}
 .player-name{
     height: 45%;
     width: 95%;
     background-color: green;
     margin-bottom: 2%;
     margin-left: 2%;
 }
 .player-score{
     height: 45%;
     width: 95%;
     background-color: blue;
     margin-bottom: 2%;
     margin-left: 2%;
 }

 #players-list{
     display: inline;
 }

#map-canvas {
    display: inline;
}

#rooms-list{
    display: inline;
}