body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map-image {
    display: none;
}

#selected-city-container {
    height: 20px;
    width: 80px;
    background-color: #EFFBF8;
    border-radius: 5px;
    margin-left: 30%;
    display: none;
}

#selected-city-name {
    margin: auto;
}

.room{
    border: double;
    text-align: center;
    margin-bottom: 10%;
    cursor: pointer;
}

.Player-Frame-Class{
    height: 18%;
    width: 90%;
    margin-bottom: 20%;
}
 .player-name{
     height: 45%;
     width: 95%;
     margin-bottom: 2%;
     margin-left: 2%;
     border: outset;
 }
 .player-score{
     height: 45%;
     width: 95%;
     margin-bottom: 2%;
     margin-left: 2%;
     border: outset;
 }

 #players-list{
     display: inline;
 }

#map-canvas {
    display: inline;
}

#rooms-list{
    display: inline;
}